@media screen and (max-width: 768px) {
    .logo .section .tabela{
        width: 100%;
        padding: 0%;
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:600px){
    .banner .li{
         width: 100%;
        text-align: center;
        display: inline-block;
        padding: 0%;
    }
    .container{
        display: inline-block;
    }
}